<div class="col-sm-6 offset-3">
  <%= simple_form_for @channel do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-warning btn-lg btn-block" %>
  <% end %>
</div>
