<div class="col-sm-12">
  <header>
    <h4>Leave A Comment</h4>
  </header>
  <div class="link-comment">
    <%= simple_form_for [@link, @comment] do |f| %>
      <%= f.input :body %>
      <%= f.button :submit, class: "btn btn-warning btn-lg btn-lg" %>
    <% end %>
  </div>
</div>
