body {
    color: #212529;
}

header {
    margin-top: 55px;
    padding-bottom: 20px;
}

.alert-notice {
    @extend .alert-success;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    z-index: 4;
}

.alert-alert {
    @extend .alert-danger;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    z-index: 4;
}

.link-body {
    h4 {
        color: #212529;
    }
    a {
        text-decoration: none;
    }
    span {
        font-size: 10px;
        color: #A29E95;
    }
}

.category .nav-pills .nav-link.active {
    background-color: #FFC727;
    color: #212529;
}

.category .nav-pills a {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
}

.link-info {
    span {
        font-size: 14px;
        color: #A29E95;
    }
}

.side {
    margin-left: 50px;
}

.channel-info {
    margin-left: 50px;
    color: #212529;
    font-size: 20px;
}

.link-comment #comment_body {
    height: 100px;
}